<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lohkuy</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/mystyle.css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="index.html">Logo</a>
    </div>
    <div class="col-sm-3 col-md-8">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-inbox"></span></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" id="login" data-toggle="dropdown">Logout</a>
          <ul class="dropdown-menu">
            <li style="width: 280px;">
              <form class="form-horizontal">
                <div class="form-group donotchange">
                <div class="col-xs-8">
                  <input type="email" class="form-control" name="email" placeholder="Email">
                </div>
                </div>
                <div class="form-group donotchange">
                  <div class="col-xs-8">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                  </div>
                </div>
                <div class="form-group donotchange">
                    <input type="submit" id="loginbutton" class="btn btn-default" value="Login"></input>
                </div>
              </form>
            </li>
          </ul>
        </li>
        <li><div style="width: 20px;"></div></li>
      </ul>
    </div>
  </div>
</nav>

<div id="band" class="container">
  <div class="row">
    <p class="page">Halaman Administrator</p>
    <hr class="style1">
    <h3 id="searchname">Welcome bro Admin!</h3>
    <hr class="style1">
  </div>
  <div class="col-md-2" style="padding-left: 0;margin-top: 10px;">
    <div>
      <ul style="padding-left: 30px;" class="profilnav">
        <li class="active"><a href="">Daftar Member</a></li>
        <li><a href="">Verisfikasi Iklan</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-10">  
    <div class="row">
      <h2 class="ah">Daftar Member</h2>
        <div class="col-md-7" style="padding-left: 0;">
          <div class="keranjang">
            <div class="mychart">
              <div class="carttumb">
                <a href="#"><img src="img/profil/user1.jpg" width="69" height="69"></a>
              </div>
              <div class="product">
                <a class="pn">Jenny's Shop</a>
                <div class="price">
                  <p>Jumlah iklan : 17</p>
                </div>
                <div class="jumlah">
                  <p>jenniferlawrence@gmail.com</p>
                </div>
              </div>
              <div class="delete">
                <a href=""><i class="glyphicon glyphicon-remove"></i></a>
                <br>
                <a href=""><i class="glyphicon glyphicon-edit"></i></a>
              </div>
            </div>
            <div class="mychart">
              <div class="carttumb">
                <a href="#"><img src="img/profil/user2.jpg" width="69" height="69"></a>
              </div>
              <div class="product">
                <a class="pn">Ellen</a>
                <div class="price">
                  <p>Jumlah iklan : 13</p>
                </div>
                <div class="jumlah">
                  <p>ellenpage@gmail.com</p>
                </div>
              </div>
              <div class="delete">
                <a href=""><i class="glyphicon glyphicon-remove"></i></a>
                <br>
                <a href=""><i class="glyphicon glyphicon-edit"></i></a>
              </div>
            </div>
           </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-header">
  Situs jual beli online mudah & terpercaya
</div>
<div class="about-detail">
    <p>Developed by:</p>
    <p>Stefanus Anugrah Pribadi - Ignatius Chandra Christian - Willy Aditya Nugraha - Bernardus Alexander Habeahan</p>
    <br>
    <p>Powered by:</p>
    <p>Bootstrap - jQuery - Codeigniter</p>
</div>

<!-- Footer -->
<footer>
  <p>Bootstrap Theme Modified By Chandra</p> 
</footer>

</body>
</html>
